.SN-top-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: $gray-2;
  width: 100%;
  padding:10px 20px;

  h1,
  p {
    color: white;
  }

  .word-decorator-1,
  .word-decorator-2 {font-family: $main-font;}

  .word-decorator-1 { color: $primary;}
  .word-decorator-2 { color: $secondary; }

  .autosave {
    margin-left: 27rem;
    font-family: $main-font;
    visibility: hidden;

    color: $gray-4;
    svg {
      color: $green;
    }
  }
}
