.SN-main-content-save {
    background-color: $gray-2;
    text-align: right;
    display: none;

    .save,
    .delete,
    .code {
        color: white;
        cursor:pointer;
        width: 100px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        float: right;
        margin: 10px 5px;
        box-shadow: $shadow;
    }

    .save {
      background-color: $gray-3;
      &:hover {background-color: darken($gray-3, 10%)}
    }
    .delete {
      background-color: $primary;
      &:hover {background-color: darken($primary, 10%)}
    }
    .code {
      background-color: $secondary;
      &:hover {background-color: darken($secondary, 10%)}
    }
}


//Scroll Bar:

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray-2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-4;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
  &:hover {
    background: white;
    cursor: pointer;
  }
}
