.SN-main-content-area {
    flex: 9;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;


    .SN-main-content-note-title{
        font-size: 25px;
        color: white;
        font-family: $main-font;
        font-weight: 900;
        margin-bottom: 10px !important;
        margin-top: 0px;
        display: none;
    }

    .SN-Notes {
        background-color: $gray-1;
        box-sizing: border-box;
        color: white;
        padding: 10px;
        border-color: black;
        width: 100%;
        border-radius: 5px 5px 0px 5px;
        // height: calc(100vh - 96px) !important;
        height: 72vh;
        resize: none;
        overflow-y: scroll;

        &:focus { outline: none !important; }
    }
}
