.SN-main-sidebar {
    margin:10px;
    background-color: $gray-1;
    border-radius: 5px;
    min-width: 100px;
    overflow-y: scroll;
    overflow-x: hidden !important;
    transition-duration: 0.2s;

  .SN-main-sidebar-content {
    .SN-main-sidebar-elem {
        background-color: $gray-2;
        margin: 5px;
        border-radius: 5px;
        padding: 7px;
        color: white;
        cursor: pointer;
        z-index: 99999999;
        box-shadow: $shadow;
        transition-duration: 0.2s;

        .SN-main-sidebar-elem-title {
            color: white;
            font-family: $main-font;
            font-weight: 900;
            font-size:15px;
        }

        .SN-main-sidebar-elem-content-preview {
            color: white;
            font-family: $main-font;
            font-weight: 400;
        }
    }

    .no_results {
      font-family: $main-font;
      color: white;
      margin: 1rem;
    }
  }

  .SN-main-sidebar-controls {
      position: absolute;
      bottom: 0px;
      justify-content: space-around;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 10.8rem;
      transition-duration: 0.2s;

      .rotate-left,
      .rotate-right {
        -webkit-animation-duration: 0.2s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
      }

      .rotate-right {-webkit-animation-name: rotate;}
      .rotate-left {-webkit-animation-name: rotateleft;}

      @-webkit-keyframes rotate {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(180deg); }
      }

      @-webkit-keyframes rotateleft {
          from { -webkit-transform: rotate(180deg); }
          to { -webkit-transform: rotate(0deg); }
      }

      #minimize {
        position: fixed;
        bottom: 3rem;
        display: flex;
        flex-direction: column;
        margin: 0.8rem;
        border-radius: 2rem;
        padding: 0.3rem;
        width: 1rem;
        border: 2px solid transparent;
        background: $gray-1;

        &:hover {
          transform: scale(1.09);
          border-color: white;
          box-shadow: $shadow;
          cursor: pointer;
        }

        svg {
          -webkit-filter: drop-shadow(5px 5px 5px #222223ad);
          filter: drop-shadow(5px 5px 5px #222223ad);
          margin-left: 1px;
        }

      }
  }
}
