.SN-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0px 5px 0px;
  margin: 5px;
  background: $gray-2;
  border-radius: 5px;
  color: white;
  transition-duration: 0.2s;

  input {
    width: 85%;
    color: white;
    background-color: transparent;
    border-color: transparent;
    // border-bottom-color: $gray-4;
  }

  .clear-search,
  .search-button {
    background: transparent;
    border: transparent;
  }

  .clear-search {
    display: none;
  }

  .no_results {
    font-family: $main-font;
    color: white;
    margin: 1rem;
  }

  svg {
    margin: 0 10px 0 15px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}
