body {
    margin: 0px !important;
    background-color: $gray-2;
    overflow-y: hidden;
    overflow-x: hidden;
}

html, body { height:100%; }

p, h2, a, .SN-Notes, .save, .delete, .code {
    font-family: $main-font;
}

button,
input {
  &:active,
  &:focus,
  &:focus-within {
    outline: 1px solid transparent !important;
  }
}

.divider { margin:0px !important; }

.SN-main {
    display: flex;
    height: calc(100vh - 96px);
    width: 100%;

    .SN-main-sidebar{
        flex: 3;
        position: relative;
    }
}

.btn {
  color: white;
  cursor:pointer;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  float: right;
  margin: 10px 5px;
}
